body {
	background-color: #ffffff;
	font-family: verdana, sans-serif;
}

.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}

main {
	background-color: silver;
}

.red-box{
	background-color: red;
	height: 200px;
	width: 280px;
	float: left;
	margin: 30px 0px 30px 30px;
}

.blue-box{
	background-color: blue;
	height: 200px;
	width: 280px;
	float: left;
	margin: 30px 0px 30px 30px;
}

.yellow-box{
	background-color: yellow;
	height: 200px;
	width: 280px;
	float: left;
	margin: 30px 0px 30px 30px;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}